.product-detail {
  padding: 20px;
  height: 80vh;
}

.product-info {
  display: flex;
}

.product-image {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-description {
  flex: 2;
}

.product-rating {
  color: #ffc107;
  /* Star color */
  margin-bottom: 10px;
}

.star-icon {
  margin-right: 5px;
}

.quantity {
  margin-top: 10px;
}

.quantity label {
  margin-right: 10px;
}

.place-order-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.place-order-button .cart-icon {
  margin-right: 8px;
}

.cart-icon {
  color: var(--primary-background-color);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
