/* General page styling */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Arial, sans-serif;
  /* Ensure a readable font */
}

h1 {
  margin-bottom: 30px;
  /* Increased margin */
  font-size: 28px;
  /* Larger font size */
  color: var(--secondary-color1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 15px;
  /* Increased margin */
  padding: 14px;
  /* Increased padding */
  border: 1px solid var(--secondary-color2);
  border-radius: 8px;
  /* Rounded corners */
  width: 280px;
  /* Increased width */
  color: var(--primary-text-color);
  background-color: white;
  font-size: 18px;
  /* Larger font size */
}

button {
  padding: 14px 28px;
  /* Increased padding */
  background-color: var(--secondary-color1);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  /* Larger font size */
}

button:hover {
  background-color: var(--secondary-color2);
}

.error-message {
  color: red;
  margin-top: 12px;
  /* Increased margin */
  font-size: 16px;
  /* Larger font size */
}
